.controls{
    height: 50px;
    /*width: 100%;*/
    border: 5px solid black;
}
#container{
    border: 5px solid black;
    display: flex;
    flex-wrap: wrap;
}
.row{
    display: flex;
    width: 100%;
}
.square{
    border: 2px solid gray;
    height: 40px;
    width: 40px;

}
.blacked{
    background-color: black;
}
